<header class="site-header" id="main-header">
    <div class="container">
        <div class="columns is-gapless">
            <div class="column is-narrow">
                <a href="/" class="logo">
                    <img src="{{ $.Site.Data.settings.logo.url }}" alt="Logo for IMCTex">
                </a>
            </div>
            <div class="column">
                <nav class="header-nav navbar-menu">
                    {{ partial "main-navigation.html" . }}
                </nav>
            </div>
        </div>
    </div>
</header>