<header class="site-header" id="main-header">
    <div class="container">
        <div class="columns is-gapless">
            <div class="column is-narrow">
                <a href="/" class="logo">
                    <img src="{{ $.Site.Data.settings.logo.url }}" alt="Logo for IMCTex">
                </a>
            </div>
            <div class="column">
                <nav class="header-nav">
                    <a href="/" class="nav-item">Home</a>
                    <a href="/" class="nav-item">About Dr. Ford</a>
                    <a href="/" class="nav-item">What I Do</a>
                    <a href="/post/" class="nav-item">Blog</a>
                    <a href="/" class="nav-item">FAQs</a>
                    <a href="/" class="nav-item">Contact</a>
                    <a href="/" class="nav-item">Clients</a>
                </nav>
            </div>
        </div>
    </div>
</header>